*.pyc
*.egg-info/
/.coverage
/.eggs/
/.mypy_cache/
/.pytest_cache/
/.tox/
/build/
/CHANGELOG.md
/dist/
/docs/_build
/MANIFEST
__pycache__/
/Main/qqmail.py
/venv/
/.idea/.gitignore
/.idea/.name
/.idea/JiraTest.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
